.login {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  width: 55rem;
  gap: 2rem;
  background-color: #bfa8d7;
  border-radius: 2rem;
  padding: 4rem 2.5rem;
  margin: 3rem auto;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.message {
  font-size: 1.2rem;
  color: red;
  font-style: italic;
}

label {
  font-size: 2rem;
  font-weight: bold;
  color: #320064;
  font-weight: bold;
}

input,
textarea {
  height: 4.5rem;
  padding: 0.8rem 1.2rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 1rem;
  background-color: #f0f0f0;
  transition: all 0.2s;
}

input::placeholder {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 20%);
}

input:focus {
  outline: none;
  background-color: #fff;
}

.pet {
  display: flex;
  justify-content: space-between;
}

.pet_btn {
  padding: 1.5rem 4rem;
  background-color: #320064;
  border-radius: 1rem;
  border: none;
  color: #f3f3f3;
  font-size: 1.7rem;
  font-weight: bold;
  cursor: pointer;
}

.pet_btn_active {
  padding: 1.5rem 4rem;
  background-color: #320064;
  border-radius: 1rem;
  border: none;
  color: #f3f3f3;
  font-size: 1.7rem;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.5;
}

.login__btn {
  padding: 2rem 4rem;
  background-color: #bfa8d7;
  color: #320064;
  font-size: 2.5rem;
  font-weight: bold;
  border: none;
  border-radius: 2rem;
  width: 55rem;
  cursor: pointer;
}

.login__btn:hover {
  color: #fff;
  transition: color 0.5s ease;
}

.pet_btn:hover {
  opacity: 0.5;
  transition: all 0.5s ease;
}
